Binaries
DerivedDataCache
Intermediate
Saved
Build


.vs
.vscode
.vscode
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
.xcworkspace

Content/
!Content/SiegeSurvival

Plugins/*
!Plugins/GameFeatures
Plugins/GameFeatures/*
!Plugins/GameFeatures/SiegeSurvival